!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

addons_autoscripts/
addons_config/
blueprints/
deps/
custom_components/
image/
themes/
tts/
www/
esphome/trash/

*.log
*.log.txt
secrets.yaml
.ssh
.storage
.cloud
.google.token
home-assistant.log*
id_rsa*
home-assistant_v2.*
